SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-anon-key-here

# Cloudinary (photos eleves)
CLOUDINARY_CLOUD_NAME=dv3ulmei1
CLOUDINARY_API_KEY=376123113843134
CLOUDINARY_API_SECRET=nTzfHqPPJzGOF5qe3x7hVtfSwVo
